*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#topo{
    height: 250px;
    background-color: rgb(214, 142, 47);
}
#menu{
    background-color: rgb(119, 112, 20);
    text-align: center;
}
#menu ul li{
    display: inline-table;
    padding: 20px 30px;
    cursor: pointer;
}
#menu ul li a{
    text-decoration: none;
    color: azure;
}
#menu ul li:hover{
    background-color: rgb(27, 172, 46);
}
#corpo {
    background-color: darkslategrey;
    width: 100%;
    height: 500px;
}